[Unit] 
Description=logitechmediaserver-rpi2 container
Requires=service.system.docker.service 
After=service.system.docker.service

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=0
#ExecStartPre=-/bin/sh -c "mkdir -p /storage/.kodi/userdata/Apps/LogitechMediaServer"
ExecStartPre=/usr/bin/pactl load-module module-native-protocol-unix auth-anonymous=1 auth-cookie-enabled=0 socket=/tmp/pulseaudio.socket
ExecStartPre=/usr/bin/pactl load-module module-null-sink sink_name=squeezebox sink_properties=device.description="Squeezebox"
ExecStart=/bin/sh /storage/.kodi/addons/%p/bin/%p
ExecStop=/storage/.kodi/addons/service.system.docker/bin/docker stop logitech-media-server
ExecStopPost=/bin/sh -c "pactl unload-module `/usr/bin/pactl list short modules | grep /tmp/pulseaudio.socket | cut -f 1`"
ExecStopPost=/bin/sh -c "pactl unload-module `/usr/bin/pactl list short modules | grep sink_name=squeezebox | cut -f 1`"
ExecStopPost=-/bin/rm /tmp/pulseaudio.socket

[Install] 
WantedBy=multi-user.target
